@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-bg_color;
  }
}

@layer components {
  .btn {
    @apply px-7 py-4 rounded-xl
  }

  .gedung {
    @apply w-24 h-[480px] object-cover rounded-lg;
  }

  .custom-navigation {
    display: flex;
    align-items: center;
  }

  .swiper-button-prev, .swiper-button-next {
   padding: 15px;

  }

  .bg{
    background-image: url("./assets/bg2.jpg");
    background-position: center;
    background-size: cover;
    height: 400px;
  }

  .box{
    @apply p-10 flex flex-col items-start rounded-xl hover:bg-green-100 cursor-pointer;
  }

  .box h3{
    @apply font-medium
  }

  .box img{
    @apply w-16 grayscale
  }

  .box p{
    @apply opacity-80 leading-7
  }

  .box button {
    @apply text-green-500 font-medium
  }

  .contact-bg{
    background-image: url("./assets/bg1.jpeg");
    background-position: center;
    background-size: fill;
    height: 400px;
    width: 100%;
    filter: invert(10%);
  }

  .menu {
    @apply flex flex-col gap-4 items-center font-medium
  }

  .icon{
    @apply border border-black/10 p-4 rounded-full cursor-pointer
  }
}
